.modal {
    &__overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 1000;
        padding: 60px;
    }

    &__inner {
        position: relative;
        width: 200px;
        height: auto;
        background-color: #fff;
        z-index: 2;
        margin: auto;
        z-index: 1001;
    }

    img {
        width: 560px;
        height: 560px;
    }
}