/* * {
  margin: 0;
  padding: 0;
} */
.header {
  background-color: #00b3e4;
  height: 85px;
  position: fixed;
  z-index: 2;
  width: 100%;
  transition: all 1s ease-out;
  top: 0;
}
.header__menu-bg {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.header__menu-bg--active {
  position: fixed;
}        
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 600;
  max-width: 1350px;
  padding: 15px 40px;
  margin: 0 auto;
}
.menu__left, .menu__right {
  display: flex;
  justify-content: space-between;
}
.menu__left--active, .menu__right--active {
  display: block;
}
.menu__item {
  list-style: none;
  opacity: 1;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}
.menu__item--active {
  opacity: 1;
  transform: translateX(0);  
  transition: 
    opacity .4s ease-in-out, 
    transform .6s cubic-bezier(0.175, 0.885, .32, 1.2);        
}
.menu__left {
  order: 0;
  width: 485px;
}
.menu__right {
  order: 2;
  width: 222px;
}
.menu__item a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  font-weight: 700;
}
.menu__btn {
  order: 3;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  background-color: transparent;
}
.menu a:hover {
  opacity: 0.8;
}
.menu img {
  width: 200px;
  height: auto;
  order: 1;
  margin: 0 25px;
  cursor: pointer;
}
.menu__btn {
  border: 2px solid #e5fffe;
  border-radius: 20px;
  padding: 8px 30px 9px;
  font-weight: 700;
  margin-left: 10px;
}
.menu__toggle {
  display: none;
}

.login {
  font-size: 28px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
}

@media (max-width: 1270px) {
  .menu {
    justify-content: center;
  }
  .menu img {
    order: 0;
  }
  .menu__btn {
    margin-top: 10px;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .header {
    height: 100%;
    clip-path: circle(90px at top right);
    /* heigth: 100%; */
  } 
  .header--active {
    clip-path: circle(730px at center);
    /* heigth: 100%; */
    padding-top: 65px;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 1s;
    position: relative;
    font-size: 24px;
  }
  .menu img {
    width: 140px;
    margin: 0;
    position: fixed;
    top: 20px;
    left: 20px;
  }
  .menu--active {
    display: flex;
    padding-top: 85px;
  }
  .menu__btn {
    display: none;
  }
  .menu__toggle {
    display: block;
    font-size: 0;
    border: none;
    content: "";
    height: 2px;
    width: 22px;
    background-color: #fff;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 15px;
    transition: 0.5s;
  }
  .menu__toggle::before {
    display: block;
    top: 6px;
    content: "";
    height: 2px;
    background-color: #fff;
    position: relative;
    transition: 0.5s;
  }
  .menu__toggle::after {
    display: block;
    top: -8px;
    content: "";
    height: 2px;
    background-color: #fff;
    position: relative;
    transition: 0.5s;
  }
  .menu__toggle--active {
    background-color: transparent;
    position: absolute;
    right: 0px;
    top: 3px;
  }
  .menu__toggle--active::before {
    transform: rotateZ(45deg);
    top: 0;
  }
  .menu__toggle--active::after {
    transform: rotateZ(-45deg);
    top: -2px;
  }
  .menu .toggle__wrapper {
    position: fixed;
    top: 10px;
    right: 20px;
    padding: 25px;
    cursor: pointer;
  }
  .menu__item {
    list-style: none;
    opacity: 0;
    transform: translateX(100%);
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }
  .menu__item a {
    padding: 20px 65px;
  }
  .menu__item--active {
    opacity: 1;
    transform: translateX(0);  
    transition: 
      opacity .4s ease-in-out, 
      transform .6s cubic-bezier(0.175, 0.885, .32, 1.2);        
  }
  .menu__left {
    order: 0;
    width: 100%;
  }
  .menu__right {
    order: 2;
    width: 100%;
  }        
}

@media (max-width: 400px) {
  .menu {
    padding-left: 0;
    padding-right: 0;
  }
  .menu__item a {
    padding-left: 0;
    padding-right: 0;
  }
}

.wrapper-modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  overflow: auto;
}

.wrap-table {
  position: relative;
  margin: 0 auto;
  max-width: 760px;
}
