<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Безлимит в Мегалэнде</title>
    <link rel="shortcut icon" href="https://static.tildacdn.com/tild3937-6334-4632-a265-633532303735/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/97adec7475.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <item-header-component></item-header-component>
    
    <main>
        <div class="item__wrapper">
            <div class="item">
                <img src="/src/assets/images/item1-1.webp" alt="" loading="lazy" width="460" height="460">
                <div class="item__description">
                    <h1 class="item__title">Безлимит в Мегалэнде</h1>
                    <p>
                        За 590 руб. в будни можно играть сколько хочешь на любых площадках.
                    </p>
                    <p>В акции участвуют:</p>
                    <ul>
                        <li>
                            <i class="fas fa-check"></i>
                            Батут Надувная Горка
                        </li>
                        <li>
                            <i class="fas fa-check"></i>
                            Батутный парк
                        </li>
                        <li>
                            <i class="fas fa-check"></i>
                            Лабиринт
                        </li>
                        <li>
                            <i class="fas fa-check"></i>
                            Детский сад
                        </li>
                        <li>
                            <i class="fas fa-check"></i>
                            Экстрим парк
                        </li>
                    </ul>
                    <small>
                        *Акция не распространяется на игровые автоматы. Действуют ограничения по росту и возрасту. Акция не действует в выходные.
                    </small>
                    <br>    
                    <a href="tel:83435379797">тел. : 37-97-97</a>
                    <br>
                    <small class="item__date">
                        <time datetime="2021-04-15 11:00">
                            15.04.2021 11:10
                        </time>
                    </small>
                </div>
            </div>
        </div>
    </main>
</body>

<!-- <script src="assets/app.js"></script> -->
</html>