<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Безлимит в Мегалэнде</title>
    <link rel="shortcut icon" href="https://static.tildacdn.com/tild3937-6334-4632-a265-633532303735/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/97adec7475.js" crossorigin="anonymous"></script>
</head>
<body>

<item-header-component></item-header-component>

<main>
  <div class="item__wrapper">
      <div class="item">
        <img src="/src/assets/images/item7-1.webp" alt="" loading="lazy" width="460" height="460">
        <div class="item__description">
          <h1 class="item__title">Бонусная система!</h1>
          <p>
            При пополнении игровой карты «Мегалэнд» от 700 рублей Вам на карту будут начислены бонусные баллы.
          </p>
          <span>
            1 бонус = 1 рублю.
          </span>
          <p>
            Количество бонусных баллов зависит от суммы пополнения и варьируется от 700 до 3000 бонусов.
            <br>
            При внесении суммы, находящейся между пороговыми значениями, начисляется количество бонусов, соответствующее нижней пороговой сумме.
            <br>
            Подробнее о бонусной программе и размерах начислений можно узнать на кассе семейного парка развлечений «Мегалэнд».
          </p>
          <small class="item__date">
            <time datetime="2020-08-20 10:59">
              20.08.2020 10:59
            </time>
          </small>
        </div>
      </div>
  </div>
</main>
</body>

</html>