<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Безлимит в Мегалэнде</title>
    <link rel="shortcut icon" href="https://static.tildacdn.com/tild3937-6334-4632-a265-633532303735/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/97adec7475.js" crossorigin="anonymous"></script>
</head>
<body>
  
<item-header-component></item-header-component>

<main>
  <div class="item__wrapper">
      <div class="item">
        <img src="/src/assets/images/item6-1.webp" alt="" loading="lazy" width="460" height="460">
        <div class="item__description">
          <h1 class="item__title">Игровые автоматы открыты!</h1>
          <p>
            Мы запускаем работу игровых автоматов. Играть в Мегалэнд можно в 2 раза больше за те же деньги! Просто пополните игровую карту на 700, 1000, 2000 или 3000 рублей, а мы их удвоим.
          </p>
          <small class="item__date">
            <time datetime="2020-09-18 11:26">
              18.09.2020 11:26
            </time>
          </small>
        </div>
      </div>
  </div>
</main>
</body>

</html>