<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://static.tildacdn.com/tild3937-6334-4632-a265-633532303735/favicon.ico" type="image/x-icon">
  <title>Главная - Мегаленд Нижний Тагил</title>
</head>
<body>

  <header-component></header-component>

  <section class="intro">
    <div class="wrapper-intro"> 
      <div class="intro-container">
        <h2 class="intro-title">День рождения</h2>
        <p class="intro-price">от 2000 руб.</p>
        <p class="intro-description">любимые персонажи и сценарии для всех возрастов</p>
        <a class="intro-btn" href="order.html">Заказать!</a>
      </div>
    </div>
  </section>

  <section class="items">
    <ul class="items-list">
      <li class="item">
        <a class="item-link" href="/bezlimit-v-megalende.html">
          <img class="item-img" src="/src/assets/images/item1.jpg" alt="">
          <div class="item-description">
            <h4 class="item-title">Безлимит в Мегаленде</h4>
            <time class="item-date" datetime="2021-04-15 11:00">15.04.2021 11:00</time>
          </div>
        </a>
      </li>
      <li class="item">
        <a class="item-link" href="/otmet-den-rozhdeniya-v-kino.html">
          <img class="item-img" src="/src/assets/images/item2.jpg" alt="">
          <div class="item-description">
            <h4 class="item-title">Отметь день рождения в кино!</h4>
            <time class="item-date" datetime="2021-03-05 11:00">05.03.2021 16:35</time>
          </div>
        </a>
      </li>
      <li class="item">
        <a class="item-link" href="/vipusknoi-v-megalende.html">
          <img class="item-img" src="/src/assets/images/item3.jpg" alt="">
          <div class="item-description">
            <h4 class="item-title">Выпускной в Мегаленде!</h4>
            <time class="item-date" datetime="2021-02-09 11:50">09.02.2021 11:50</time>
          </div>
        </a>
      </li>
      <li class="item">
        <a class="item-link" href="/megalend-polnostyu-otkrit.html">
          <img class="item-img" src="/src/assets/images/item4.jpg" alt="">
          <div class="item-description">
            <h4 class="item-title">Мегаленд полностью открыт!</h4>
            <time class="item-date" datetime="2020-09-18 11:00">18.09.2020 11:26</time>
          </div>
        </a>
      </li>
      <li class="item">
        <a class="item-link" href="/pitstsa-v-podarok.html">
          <img class="item-img" src="/src/assets/images/item5.jpg" alt="">
          <div class="item-description">
            <h4 class="item-title">Пицца в подарок</h4>
            <time class="item-date" datetime="2020-09-17 17:52">17.09.2020 17:52</time>
          </div>
        </a>
      </li>
      <li class="item">
        <a class="item-link" href="/igrovie-avtomati-otkriti.html">
          <img class="item-img" src="/src/assets/images/item6.jpg" alt="">
          <div class="item-description">
            <h4 class="item-title">Игровые автоматы открыты!</h4>
            <time class="item-date" datetime="2021-08-20 11:00">20.08.2020 11:00</time>
          </div>
        </a>
      </li> 
      <li class="item">
        <a class="item-link" href="/bonusnaya-sistema.html">
          <img class="item-img" src="/src/assets/images/item7.jpg" alt="">
          <div class="item-description">
            <h4 class="item-title">Бонусная система</h4>
            <time class="item-date" datetime="2021-08-20 10:59">20.08.2020 10:59</time>
          </div>
        </a>
      </li>
    </ul>
  </section>

  <section class="attractions__wrapper">
    <div class="attractions">
      <div class="attractions-header">
        <h2 class="attractions-title">Аттракционы</h2>
        <p>кликните на аттракцион для получения подробностей</p>
      </div>
    <div id="carousel" class="carousel">
      <ul class="attractions-list">
        <li class="attractions-item fade">
          <a class="attractions-link" href="#">
            <div class="attractions-img attractions-1"></div>
            <h3 class="attractions-description">Батут</h3>
          </a>
        </li>
        <li class="attractions-item fade">
          <a class="attractions-link" href="#">
            <div class="attractions-img attractions-2"></div>
            <h3 class="attractions-description">Экстрим-парк</h3>
          </a>
        </li>
        <li class="attractions-item fade">
          <a class="attractions-link" href="#">
            <div class="attractions-img attractions-3"></div>
            <h3 class="attractions-description">Детский сад</h3>
          </a>
        </li>
        <li class="attractions-item fade">
          <a class="attractions-link" href="#">
            <div class="attractions-img attractions-4"></div>
            <h3 class="attractions-description">Лабиринт</h3>
          </a>
        </li>
        <li class="attractions-item fade">
          <a class="attractions-link" href="#">
            <div class="attractions-img attractions-5"></div>
            <h3 class="attractions-description">Игровые автоматы</h3>
          </a>
        </li>
      </ul>
      <div class="attraction-btn">
        <button class="prev-btn" onclick="plusSlides(-1)">
          <i class="fas fa-chevron-circle-left"></i>
          prev</button>
        <button class="next-btn" onclick="plusSlides(1)">
          <i class="fas fa-chevron-circle-right"></i>
          next</button>
      </div>
    </div>
  </div>
    
  </section>

  <section class="cafe">
    <div class="cafe-bg">
      <div class="cafe-wrapper">
        <div>
          <h2 class="cafe-title">Кафе и пиццерия</h2>
          <div class="cafe-buttons">
            <a class="btn cafe-btn" href="#">Основное меню</a>
            <a class="btn pizza-btn" href="#">Пицца-меню</a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <a
        target="_blank"
        class="btn kids-btn" 
        href="https://drive.google.com/file/d/1C5SXzUwDE304R88Tp09alRgxiHi_qV9D/view"
      >
        Детское меню</a>
    </div>
  </section>

  <section class="contacts">
    <div class="contacts-map">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A39b19df971b7bfaaafe81f4d102954799a6bca83d1a5ee5f21154437236016e6&amp;width=auto&amp;height=460&amp;lang=ru_RU&amp;srcoll=true"></script>
    </div>
    <div class="contacts-description">
      <h2 class="contacts-title">Контакты в Нижнем Тагиле</h2>
      <p class="contacts-text">
        DEPO - Свердловское шоссе, 31В <br>
        ПН-ПТ: с 12:00 до 21:00 <br>
        СБ-ВС: с 10:00 до 21:00 <br>
        Тел.: +7 (3435) 37-97-97 <br>
        <strong>Заказать День Рождения:</strong>
        8-800-600-33-92 <br>
        <strong>Для коллективных заявок и посещений:</strong> 
        8-902-586-62-28 <br>
      </p>
    </div>
  </section>

  <footer-component></footer-component>

  <modal-component></modal-component>
  
</body>
</html>