<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://static.tildacdn.com/tild3937-6334-4632-a265-633532303735/favicon.ico" type="image/x-icon">
  <title>Главная - Мегаленд Нижний Тагил</title>
</head>
<body>
  
  <modal-component></modal-component>
  
  <!-- React -->
  <div id="app"></div>

  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=282e7daa-8f35-41e8-9a7f-590c7ef1e8c4" type="text/javascript"></script>

</body>
</html>