<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://static.tildacdn.com/tild3937-6334-4632-a265-633532303735/favicon.ico" type="image/x-icon">
  <script src="https://kit.fontawesome.com/97adec7475.js" crossorigin="anonymous"></script>
  <title>Заказать день рождения - Нижний Тагил</title>
</head>
<body>
  
  <nav-component></nav-component>
<!-- 
  <main>
    <section class="offers">
      <div class="container__offers">
        <h1 class="offers__title">Готовые предложения</h1>
        <p class="offers__description">
          мы ценим ваше время и собрали самые востребованные 
          наборы услуг, ознакомьтесь и воспользуйтесь кнопкой 
          заказа дня рождения, мы перезвоним для уточнения всех деталей
        </p>

        <ul class="offers__list"></ul>
      </div>
    </section>

    <section class="phone">
      <p class="phone__title">
        Для заказа дня рождения позвоните
      </p>
      <a href="tel:+7-800-600-33-92" class="phone__number">8-800-600-33-92</a>
      <p class="phone__order">
        или воспользуйтесь кнопкой для предзаказа
      </p>
      <button class="phone__btn btn">Заказать день рождения</button>
    </section>

    <section class="banquet">
      <div class="container__offers">
        <a class="banquet__linkr" target="_blank" 
          href="https://drive.google.com/file/d/1jxywurnnp0_zKAn4MjXN1kT8-UJRFdxT/view">
          <i class="far fa-file-pdf"></i>
          <span>Банкетное меню</span>
        </a>
      </div>
    </section>

    <section class="birthdays">
      <div class="container__offers">
        <h3 class="birthdays__title">
          Подробнее о Днях рождения
        </h3>
        <p class="birthdays__description">помимо готовых предложений вы можете скомбинировать любые из наших услуг, 
          воспользуйтесь кнопкой заказа дня рождения, мы перезвоним и обговорим все нюансы
        </p>

        <div class="birthdays__tabs">
          <div class="birthdays__bookmark">
            <button data-id="1" class="bookmark bookmark--active">
              <div id="btnBookmark"></div>
              до 5 лет</button>
            <button data-id="2" class="bookmark">старше 5 лет</button>
            <button data-id="3" class="bookmark">доп. услуги</button>
          </div>

          <p class="birthdays__item">
            Пригласите любимого героя на праздник и ваш ребенок сможет окунуться в
            увлекательный мир сказок. Интересные игры, конкурсы, отважные задания и
            хитрые головоломки никого не оставят равнодушными. Даже взрослые
            родители на мгновение смогут стать героями сказок вместе со своими детьми.
          </p>
        </div>
        <div class="birthdays__content">
          <div class="birthdays__tables">
            <div class="birthdays__table1"><!-- Add table in js order.js --></div>

            <div class="birthdays__table2"><!-- Add table in js order.js --></div>
            
            <div class="birthdays__table3"><!-- Add table in js order.js --></div>

          </div>          
        </div>
      </div>
    </section>

    <section class="phone down">
      <p class="phone__title">
        Для заказа дня рождения позвоните
      </p>
      <a href="tel:+7-800-600-33-92" class="phone__number">8-800-600-33-92</a>
      <p class="phone__order">
        или воспользуйтесь кнопкой для предзаказа
      </p>
      <button class="phone__btn btn">Заказать день рождения</button>
    </section>
  </main>
   -->
  <footer-component></footer-component>

  <modal-component></modal-component>

</body>
</html>