<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://static.tildacdn.com/tild3937-6334-4632-a265-633532303735/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/97adec7475.js" crossorigin="anonymous"></script>
    <title>Выпускной в Мегаленде!</title>
    <link rel="shortcut icon" href="https://static.tildacdn.com/tild3937-6334-4632-a265-633532303735/favicon.ico" type="image/x-icon">
</head>
<body>
  
<item-header-component></item-header-component>

<main>
  <div class="item__wrapper">
    <div class="item">
      <img src="/assets/images/item3-1.jpg" alt="">
      <div class="item__description">
        <h1 class="item__title">
          Выпускной в Мегалэнде!
        </h1>
        <p>
          В семейном парке развлечений «Мегалэнд» специально для вас пройдут выпускные.
        </p>
        <p>
          Составь свою программу сам из нашего конструктора выпускного:
        </p>
        <ul>
          <li>
            <i class="fas fa-check"></i>
            Игровая площадка на выбор, 2шт. по 40 мин., 200 руб.
          </li>
          <li>
            <i class="fas fa-check"></i>
            Игровая карта на выбор 1+1 (250 руб. или 300 руб.)
          </li>
          <li>
            <i class="fas fa-check"></i>
            Комбо (попкорн + напиток), 190 руб.
          </li>
          <li>
            <i class="fas fa-check"></i>
            Просмотр кино, 120 руб.
          </li>
          <li>
            <i class="fas fa-check"></i>
            Ланч, 190 руб.
          </li>
        </ul>
        <p>
          Цены действуют только на группу от 10 человек при заказе от двух позиций. Розничная продажа билетов на выпускные не осуществляется. Скидки по карте привилегий не действуют.
        </p>
        <p>
          <strong>Предварительная бронь: <a href="tel:89025866228">8 (902) 586-62-28</a></strong> 
        </p>
        <small class="item__date">
          <time datetime="2021-02-09 11:50">
            09.02.2021 11:50
          </time>
        </small>
      </div>
    </div>
  </div>
</main>
        
</body>
</html>