* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Geometria';
}

.header {
    padding: 18px 20px;
    background-color: rgba(250,250,250,0.9);
    position: relative;
    max-width: 100vw;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.2);
    position: fixed;
    backdrop-filter: saturate(173%) blur(10px);
}

.nav {
    text-align: center;

    a {
        text-decoration: none;
    }

    &__btn-back {
        font-size: 0;
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;

        i {
            font-size: 20px;
            color: #333;
        }
    }

    &__news {
        font-size: 12px;
        font-weight: 600;
        color: #333;
    }
}

/* Item */
.item {
    max-width: 460px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 95px;
    padding-top: 95px;

    &__wrapper {
        background-color: rgb(250, 250, 250);
    }

    img {
        max-width: 460px;
        width: 100%;
        max-height: 460px;
        height: auto;
        margin-bottom: 30px;
    }
    

    &__description {
        font-size: 18px;
        line-height: 1.55;
        color: #333;

        p {
            margin-bottom: 25px;
        }

        p + p {
            margin-bottom: 0;
        }
        
        ul + p {
            margin-bottom: 0;
        }

        span {
            display: inline-block;
            margin-bottom: 25px;
        }
    }

    &__title {
        line-height: 1.23;
        font-size: 32px;
        color: #444444;
        margin-bottom: 25px;
    }

    ul {
        margin-bottom: 25px;
    }

    li {
        list-style: none;

        i {
            color: #00b169;
        }
    }

    small {
        font-size: 18px;
        display: inline-block;

        time {
            font-size: 12px;
        }
    }

    a {
        text-decoration: none;
        color: #333;
    }

    &__date {
        margin-top: 30px;
        font-size: 14px;
        letter-spacing: 1.5px;
        font-weight: 600;
    }
}

/* Media queris */
@media (max-width: 640px) {
    .item {
        padding: 75px 20px;
    }
}


@font-face {
    font-family: "Geometria"; 
    src: url("./fonts/fonts/geometria.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}